* {
    font-family: 'Times New Roman', Times, serif;
}


ul {
    list-style-type: none;
    padding:0;
    margin: 0;
  }

body{
    background-color: beige;
}

h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}

.list_items{
    width:100%;
    margin: -10px;

}

.header{
    background-color: rgb(174, 204, 204);
    padding: 5px;
    margin: -10px;
}

.para_text{
    font-size: 24px;
    color: rgb(66, 59, 59);
}

.item{
    display: inline-block;
    width: 30%;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 20px;
    border-color: gray;
    font-size: 20px;
    color: black;
}

.ice_cream{
    background-color:rgb(59, 160, 160);
}

.sushi{
    background-color:rgb(160, 48, 48);
}

.burritos{
    background-color:rgb(130, 130, 45);
}

img {
    width: 40%;
    border: black;
}