* {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: beige;
}

h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}

.header{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

img {
    width: 40%;
    border: black;
}